<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>UNRIZU 图床</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
    <header>
        <nav>
            <h1>NURIZU</h1>
            <ul>
                <li>管理</li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="content">
            <h1>拖动或粘贴以上传</h1>
            <p>最大支持 20MB 图片，直接的源图片链接， Markdown 代码和 HTML 缩略图显示</p>
            <a class="btn">立即上传</a>
            <form id="upload-form" method="post" enctype="multipart/form-data">
                <input type="file" id="upload" name="image" />
            </form>
            <div class="progress">
            <span id="bar"></span>
        </div>
        </div>
    </div>
</body>
</html>